.gitignore

# macOS
**/tmp/*
!**/.keep


**/scratches/


**/.DS_Store
**/.vscode
**/*.code-workspace

# python
**/venv/
**/.ipynb_checkpoints
*/*.pyc
**/__pycache__/
**/.pytest_cache/

# typescript
**/*.tsbuildinfo
**/next-env.d.ts
**/logs/
**/node_modules/
**/.DS_Store
**/*.log
**/.cache

# next.js
**/.next/
**/out/

# Environment variables
**/.env*
**/.env.local
**/.env*.local

# rust
rust/**/debug/
rust/**/target/


